 <article class="article">
    <h4 class="article__title">{{this.title}} - {{this.date}}</h4>
    <p class="article__summary">{{this.summary}}</p>
    <a href="{{this.link}}" class="article__link" target="_blank">Read More</a>
 </article>
