<nav>
    {{#if isSavedPage}}
    {{> pill-button href="/" color="primary" bg="darkBg" textClass="gradient" text="Home"}}

    {{else}}
    {{> pill-button href="/saved" color="accent" bg="darkBg" textClass="gradient-accent" text="â¤ View Saved"}}

    {{/if}}

    {{> pill-button href="/api/scrape" color="primary" bg="darkBg" textClass="gradient" text="Load New Articles!" srOnly=", page will reload"}}

    {{> pill-button id="delete" color="accent" bg="darkBg" textClass="gradient-accent" text="Clear All"}}
</nav>