<div class="toggler">
    <button id="toggler-{{this._id}}" class="toggler__button {{#if this.featured}}toggler__button--open{{else}}toggler__button--closed{{/if}}">
        <span class="toggler__span"></span>
    </button>
</div>