<header class="row row--header">
    <div class="container">
        <h1>All Things CSS</h1>
    </div>
</header>
<main class="row row--body">
    <div class="container">
        {{#if success}}
            {{#each articles}}
                {{> article}}
            {{/each}}
        {{else}}
            <h5>No articles found</h5>
            <button>Load new articles!</button>
        {{/if}}
    </div>
</main>

